
body {
  	margin: 0;
  	line-height: normal;
}


.classes {
  	width: 100%;
  	height: 69.813rem;
  	position: relative;
  	filter: blur(3.5px);
  	background-color: #fbf9f7;
  	overflow: hidden;
  	text-align: left;
  	font-size: 1.25rem;
  	color: #000;
  	font-family: 'SF Pro';
}
.logo-parent {
  	position: absolute;
  	top: 0rem;
  	left: calc(50% - 720px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: rgba(254, 254, 255, 0.2);
  	width: 89.813rem;
  	height: 4rem;
  	overflow: hidden;
  	font-family: Geist;
}
.logo {
  	position: absolute;
  	top: calc(50% - 21px);
  	left: 3.563rem;
  	font-size: 2rem;
  	font-weight: 600;
}
.frame-parent {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: 69.25rem;
  	width: 10rem;
  	height: 2.5rem;
}
.group-child {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: 7.5rem;
  	border-radius: 999999995904px;
  	background-color: #000;
  	width: 2.5rem;
  	height: 2.5rem;
  	overflow: hidden;
}
.parincutie {
  	position: absolute;
  	top: calc(50% - 13px);
  	left: 0rem;
  	font-weight: 500;
}
.frame-wrapper {
  	position: absolute;
  	top: 1.25rem;
  	left: calc(50% - 264.5px);
  	width: 33.063rem;
  	height: 1.625rem;
}
.home-parent {
  	position: absolute;
  	top: 0rem;
  	left: calc(50% - 264.5px);
  	display: flex;
  	align-items: center;
  	gap: 6.25rem;
}
.home {
  	position: relative;
}
.classes-child {
  	position: absolute;
  	top: 21.125rem;
  	left: 36.375rem;
  	width: 64.188rem;
  	height: 53.75rem;
}
.classes-item {
  	position: absolute;
  	top: 52.313rem;
  	left: 94.063rem;
  	width: 64.188rem;
  	height: 53.75rem;
}
.student-doubts {
  	position: absolute;
  	top: 6.125rem;
  	left: 3.438rem;
  	font-size: 4rem;
  	letter-spacing: -0.02em;
  	font-weight: 600;
  	font-family: Geist;
  	color: #090607;
}
.manage-and-resolve-container {
  	position: absolute;
  	top: 11.563rem;
  	left: 3.75rem;
  	letter-spacing: -0.04em;
  	font-family: Geist;
  	color: rgba(0, 0, 0, 0.54);
}
.manage-and-resolve {
  	margin: 0;
}
.rectangle-parent {
  	position: absolute;
  	top: 16.938rem;
  	left: 58.75rem;
  	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 25rem;
  	height: 10.5rem;
  	overflow: hidden;
}
.frame-child {
  	position: absolute;
  	top: 0.875rem;
  	left: 0rem;
  	background: linear-gradient(90deg, #fd6d08, #f39139);
  	width: 25rem;
  	height: 0.313rem;
}
.resolved {
  	position: absolute;
  	top: 2.563rem;
  	left: 0.75rem;
}
.frame-item {
  	position: absolute;
  	top: 2.125rem;
  	left: 20.25rem;
  	border-radius: 60px;
  	width: 2.5rem;
  	height: 2.5rem;
  	object-fit: cover;
}
.div {
  	position: absolute;
  	top: 5.5rem;
  	left: 0.75rem;
  	font-size: 2.5rem;
  	font-weight: 500;
  	color: #f88326;
}
.rectangle-group {
  	position: absolute;
  	top: 16.938rem;
  	left: calc(50% - 620px);
  	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 25rem;
  	height: 10.5rem;
  	overflow: hidden;
}
.text {
  	position: absolute;
  	top: 8.75rem;
  	left: 0.75rem;
  	font-size: 0.75rem;
  	font-weight: 500;
  	color: rgba(240, 0, 4, 0.88);
}
.rectangle-container {
  	position: absolute;
  	top: 16.938rem;
  	left: 32.5rem;
  	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 25rem;
  	height: 10.5rem;
  	overflow: hidden;
}
.quadratic-equations-parent {
  	position: absolute;
  	top: 29.438rem;
  	left: 6.25rem;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 15px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 77.5rem;
  	height: 10.813rem;
  	overflow: hidden;
  	color: rgba(0, 0, 0, 0.8);
}
.quadratic-equations {
  	position: absolute;
  	top: 1.25rem;
  	left: 2.5rem;
  	font-size: 1.75rem;
  	font-weight: 500;
  	color: #000;
}
.i-am-having {
  	position: absolute;
  	top: 3.313rem;
  	left: 2.5rem;
  	color: rgba(0, 0, 0, 0.54);
}
.student-parin-goat-container {
  	position: absolute;
  	top: 7.313rem;
  	left: 2.5rem;
  	font-weight: 500;
}
.parin-goat {
  	color: rgba(0, 0, 0, 0.54);
}
.class-10-a {
  	position: absolute;
  	top: 7.313rem;
  	left: 16.313rem;
  	font-weight: 500;
}
.subject-math {
  	position: absolute;
  	top: 7.313rem;
  	left: 25.375rem;
  	font-weight: 500;
}
.group-wrapper {
  	position: absolute;
  	top: 1.875rem;
  	left: 67rem;
  	border-radius: 15px;
  	background-color: rgba(240, 0, 4, 0.15);
  	border: 1px solid #de0016;
  	box-sizing: border-box;
  	width: 8.063rem;
  	height: 2rem;
  	overflow: hidden;
  	font-size: 1rem;
  	color: #b80012;
}
.pending-parent {
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 47.5px);
  	width: 6rem;
  	height: 1.563rem;
}
.classes-pending {
  	position: absolute;
  	top: calc(50% - 9.5px);
  	left: calc(50% - 14px);
}
.info-1-icon {
  	position: absolute;
  	top: calc(50% - 12.5px);
  	left: 0rem;
  	width: 1.563rem;
  	height: 1.563rem;
}
.view-details-wrapper {
  	position: absolute;
  	top: 6.813rem;
  	left: 67rem;
  	border-radius: 10px;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 8rem;
  	height: 2rem;
  	overflow: hidden;
  	font-size: 1rem;
  	color: #000;
}
.view-details {
  	position: absolute;
  	top: calc(50% - 9px);
  	left: calc(50% - 46px);
}
.frame-div {
  	position: absolute;
  	top: 0.125rem;
  	left: 0rem;
  	background-color: #de0016;
  	width: 0.688rem;
  	height: 10.875rem;
  	overflow: hidden;
}
.quadratic-equations-group {
  	position: absolute;
  	top: 41rem;
  	left: 6.25rem;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 15px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 77.5rem;
  	height: 10.813rem;
  	overflow: hidden;
  	color: rgba(0, 0, 0, 0.8);
}
.image-6 {
  	position: absolute;
  	top: 43.75rem;
  	left: 1.688rem;
  	width: 31.875rem;
  	height: 15.625rem;
}
.quadratic-equations-container {
  	position: absolute;
  	top: 52.563rem;
  	left: 6.25rem;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 15px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 77.5rem;
  	height: 10.813rem;
  	overflow: hidden;
  	color: rgba(0, 0, 0, 0.8);
}
.classes-quadratic-equations-parent {
  	position: absolute;
  	top: 64.125rem;
  	left: 6.25rem;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 15px;
  	background-color: #fff;
  	border: 0.5px solid rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	width: 77.5rem;
  	height: 10.813rem;
  	overflow: hidden;
  	color: rgba(0, 0, 0, 0.8);
}
.classes-inner {
  	position: absolute;
  	top: calc(50% - 621.5px);
  	left: calc(50% - 731px);
  	border-radius: 15px;
  	background-color: rgba(0, 0, 0, 0.2);
  	width: 96.375rem;
  	height: 112.125rem;
  	overflow: hidden;
}

